/** {
border: 1px solid;
}*/

@media (max-device-width: 767px){

/*---------Mobile----------*/

body{
  height: 384px;
  width: 384px;
  background: linear-gradient(to bottom, #1F4E79 0%, #1F4E79 50%, white 50%, white 100%);
}

#logo{

}

#logIn{

}

.phones {

}

#head {

}

#apple {

}

#google{

}

#foot{

}

#insta{
	
}
}

@media (min-device-width: 768px) and (max-device-width: 1024px) {
/*---------Ipad------------*/

body{
  height: 512px;
  width: 512px;
  background: linear-gradient(to bottom, #1F4E79 0%, #1F4E79 50%, white 50%, white 100%);
}

#logo{

}

#logIn{

}

.phones {

}

#head {

}

#apple {

}

#google{

}

#foot{

}

#insta{
	
}
}


@media (min-device-width: 1025px) {
/*---------Browser---------*/

body{
  	height: 1200px;
  	width: 1200px;
  background: -webkit-linear-gradient(#1F4E79 0%, #1F4E79 40%, white 40%, white 100%);
  background: -o-linear-gradient(#1F4E79 0%, #1F4E79 40%, white 40%, white 100%);
  background: linear-gradient(#1F4E79 0%, #1F4E79 40%, white 40%, white 100%);
}

#logo{
	float: right;
	position: relative;
	display: inline-block;
	margin: 150px 400px 100px 0;

}

#logIn{
	background: blue; 
	float: right;
	clear: both;
	display: inline-block;

}

.phones {
	float: left;
	position: absolute;
	display: inline-block;
	margin: 100px 0 200px 100px;

}

#head {
	float: right;
	

}

.white-fade{
	float: right;
}

#apple {
	float: right;
}

#google{
	float: right;
}

footer{
	width: 100%;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -400px;
	width: 900px;
	height: 100px;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

li{
	display: inline-block;
	clear: both;
	position: relative;
	margin: 0 30px 0 0;

}

}