*{
border: 1px solid transparent;
}

@media (max-device-width: 767px){

/*---------Mobile----------*/

body{
  width: 100%;
 	height:200px;
  	background-size: contain;
 	background-position: top center;
 	background-repeat:no-repeat;
 	background-attachment:fixed;
}

#logo{

}

#logIn{

}

.phones {

}

#head {

}

#apple {

}

#google{

}

#foot{

}

#insta{
	
}
}

@media (min-device-width: 768px) and (max-device-width: 1024px) {
/*---------Ipad------------*/

body{
  width: 100%;
 	height:200px;
  	background-size: contain;
 	background-position: top center;
 	background-repeat:no-repeat;
 	background-attachment:fixed;
}

#logo{

}

#logIn{

}

.phones {

}

#head {

}

#apple {

}

#google{

}

#foot{

}

#insta{
	
}
}


@media (min-device-width: 1025px) {
/*---------Browser---------*/

body{
  	width: 100%;
 	height:200px;
  	background-size: contain;
 	background-position: top center;
 	background-repeat:no-repeat;
 	background-attachment:fixed;
 	font-family: 'Roboto', sans-serif;
}

#logo{
	float: right;
	position: absolute;
	display: inline-block;
	margin: 100px 300px 800px 500px;
	clear: both;


}

#logIn{
	background: #6283a1; 
	position: absolute;
	display: inline-block;
	border-radius: 1px;
	padding: 7px;
	color: #e8edf1;
	font-size: 15px;
	margin-top: 120px;
	margin-left: 900px;
	border: none;
	width: 100px;
	clear: both;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	border-radius: 1px;

}

#home{
	padding: 0 5px 0 0;
}

.phones {
	float: left;
	position: absolute;
	display: inline-block;
	margin: 100px 0 200px 100px;

}

#head {
	color: #0f273c;
	clear: both;
	height: 80px;
	width: 400px;
	display: inline-block;
	width: 100%;
	margin-left: 50px;
	margin-right: 100px;
	margin-top: 0px;
	background-image: url("images/frame.png/");
}

.p{	
	margin-left: 50px;
	margin-right: 100px;
	margin-top: 0px
	margin-bottom: 600px;
	text-align: left;
	width: 500px;
	height: 200px;
	position: absolute;
	background: white;
	display: inline-block;
	width: 100%
	

}

.white-fade{
	width: 400px;
	height: 300px;
	position: relative;
	margin-left: 450px;
	margin-top: 200px;

	}

#apple {
	
	display: inline-block;
	margin-top: 50px;
	margin-left: 500px;
	margin-bottom: 500px;
	background: none;
	border: none;

}

#google{

	display: inline-block;
	margin-top: 50px;
	margin-left: 10px;
	margin-bottom: 500px;
	background: none;
	border: none;

}
.noDec, a:link, a:visited {
	text-decoration: none;
	color: #6283a1
}

.underline {
	text-decoration: none;
}

#foot{
	text-decoration: none;
}

.other{
	color: grey;
}

footer{
	width: 100%;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -400px;
	width: 1000px;
	height: 100px;
	text-decoration: none;
	color: #d2dbe4;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	text-decoration: none;
}

li{
	display: inline-block;
	clear: both;
	position: relative;
	margin: 0 30px 0 0;
	text-decoration: none;
	color: #6283a1;


}

}